<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
         version="2.5">
<filter>
    <filter-name>HitCounterFilter</filter-name>
    <filter-class>controller.FilterHitCounter</filter-class>
</filter>
<filter-mapping>
    <filter-name>hitCounter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>

<display-name>Log4jWebDemo1</display-name>
     
    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>
    
    <jsp-config>
        <taglib>
            <taglib-uri>customtags</taglib-uri>
            <taglib-location>/WEB-INF/tld/customtaglib.tld</taglib-location>
        </taglib>
    </jsp-config>
    
</web-app>
